
<div class="relative z-10 h-full items-center flex flex-row justify-items-stretch {{ structure.g_pageWidth }}">
  <div class="flex flex-auto flex-col items-start justify-center h-full {{ heroSettings.headingTextColor or 'text-white' }} ">
    <div class="pt-4 pr-12 text-lg font-light md:text-2xl lg:text-3xl {{ heroSettings.subheadingTextColor }}">
        {{ heroSettings.subheadingText | safe }}
    </div>
    <div class="text-4xl font-semibold leading-tight {{ heroSettings.headingTextCase }} md:text-6xl">
      <div id="typer-text"></div>
    </div>
    {% if heroSettings.buttonText %}
      <div class="w-full mt-12 ">
        <a href="{{ heroSettings.buttonURL }}" class="p-4 rounded-lg {{ heroSettings.buttonTextColor or colors.buttonCustom.text or colors.buttonDefault.text }} {{ heroSettings.buttonBgColor or colors.buttonCustom.bg or colors.buttonDefault.bg }} hover:{{ colors.buttonCustom.textHover or colors.buttonDefault.textHover }} hover:{{ heroSettings.buttonBgHover or colors.buttonCustom.bgHover or colors.buttonDefault.bgHover }} {{ heroSettings.buttonBorder or colors.buttonCustom.border or colors.buttonDefault.border }}">{{ heroSettings.buttonText }}</a>
      </div>
    {% endif %}
  </div>
  <div class="w-64 h-64"><img class=" rounded-full border-8" src="/assets/images/headshot-wide.jpg") /></div>

</div>