<div class="hidden sm:block italic text-stone-600 text-base {{ colors.borderCustom.color or colors.borderDefault.color }}">
  {# {{ colors.borderCustom.borders or colors.borderDefault.borders }}  #}
  <div class="print:hidden"><a class="text-blue-900" href="/PhilipJones-resume.pdf">Download a PDF</a> or try the browser's "Print" on this page</div>
</div>

<section class="">
  <div class="pb- mx-auto print:mx-0">
    {# class=container  #}

    {# <h4 class="text-stone-400"><i>under construction - see <a href="http://thephilipjones.com/resume" target="_blank">v1</a> for historical details</i></h4>
    <hr class="text-stone-400" /> #}


    <h2 class="mt-4 mb-8 print:mt-0 print:pt-4 text-sm leading-none uppercase tracking-wide">Work Experience</h2>
    <div class="flex flex-wrap -mt-4 -mb-10">
      <ul class="flex-1 list-none p-0 mx-0">
        {% for post in postslist | getPostsByType("work") | reverse %}

          <li class="mb-12 print:mb-2">
            <div class="flex justify-between items-baseline">
              <a class="" href={{ post.data.link | url }} target="_blank">
                <h4 class="mt-4 print:mt-0 mb-0 {{ colors.headingsCustom or colors.headingsDefault }}">{{ post.data.org }}</h4>
              </a>
              <span class="item__location">{{ post.data.location }}</span>
            </div>
            <div class="flex justify-between flex-wrap mt-0 text-gray-800">
              {% if post.data.title %}
              <a href="{{ post.url | url }}" class="flex-1"><h2 class="pt-0">{{ post.data.title }}</h2></a>
              <div class="flex-shrink-0 inline item__date">
                <time datetime="{{ post.data.date | dateToFormat("yyyy-MM") }}">{{ post.data.date | dateToFormat("LLL yyyy") }}</time>
                <span> – </span>
                <span>
                  {% if post.data.toDate %}
                  <time datetime="{{ post.data.toDate | dateToFormat("yyyy-MM") }}">{{ post.data.toDate | dateToFormat("LLL yyyy") }}</time>
                  {% else %}Present{% endif %}
                </span>
              </div>
              {% endif %}
            </div>

            {% if post.data.highlights %}
              <div class="mt-6 print:mt-3">
                <h5 class="">Highlights</h5>
                <ul class="pt-0">
                  {% for highlight in post.data.highlights %}
                    <li>{{ highlight.title }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if post.data.projects %}
              <div class="mt-6 print:mt-3">
                <h5 class="">Projects</h5>

                <ul class="hidden print:block pt-0">
                  {% for project in post.data.projects %}
                    <li><a class="" href={{ project.link | url }}>{{ project.title }}</a></li>
                  {% endfor %}
                </ul>
                <div class="print:hidden relative mx-auto max-w-7xl">
                  {# <div class="grid gap-8 mx-auto mt-12 md:grid-cols-2 xl:grid-cols-3 lg:max-w-none"> #}
                  <div class="flex flex-no-wrap overflow-x-scroll scrolling-touch items-start mb-8 p-2 pb-4 -ml-2">
                    {# {% set things = post.data.resume %} #}
                    {% set projectlist = collections.portfolio | getPostsByTag(post.data.resume) | reverse %}
                    {# {% set projectlist = collections.things | reverse %} #}
                    {# | filterByResume("ScienceLogicUX")  #}
                    {# getFilteredByTag("ScienceLogicUX") #}
                    {# myPosts(collections, post.data.resume)  #}
                    {# | resumeFilter(post.data.resume)  #}
                    {# collections.resumeCollection #}
                    {# getAll().filter(post.resume) #}
                    {% for project in projectlist %}

                    {# {% for project in post.data.projects %}  #}

                      {# <div class="flex flex-col overflow-hidden rounded-lg shadow-lg"> #}
                      <div class="flex-none w-2/3 md:w-1/3 mr-8 last:mr-0 border rounded-lg shadow-lg">
                        <div class="shrink-0">
                          <a href="{{ project.url | url }}">
                            <img class="object-cover {{ project.data.images.align }} w-full h-48" src={% if project.data.images.thumb %}"/assets/images/{{ project.data.images.thumb }}"{% else %}"/assets/images/david-kovalenko-G85VuTpw6jg-unsplash.jpg"{% endif %} alt="{{ title }} Thumbnail">
                          </a>
                        </div>
                        <div class="flex flex-col justify-between flex-1 p-4 lg:p-6 bg-white">
                          <div class="flex-1">
                            <a href="{{ project.url | url }}" class="block">
                              <h3 class="pt-0 text-2xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
                                {{ project.data.title }}
                              </h3>

                              {# Display project Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
                              {% if structure.g_showExcerpt %}
                                <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                                  {{ project.data.excerpt }}
                                </div>
                              {% endif %}
                            </a>
                          </div>

                          {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
                          {# Display the Date block if structure.g_showDates is true (default) #}
                          {% if structure.g_showDates %}
                            {# Only display the Date Block if there is a value for "date" in project Frontmatter #}
                            {% if project.data.date %}
                              {# {% set projectDate = dates | getDate(project.data.date) %} #}
                                <div class="flex text-base leading-5">
                                  <time datetime="{{ project.date | dateToFormat("yyyy") }}">{{ project.date | dateToFormat("yyyy") }}</time>
                                </div>
                            {% endif %}
                          {% endif %}

                          {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
                          {# Display the Author block if structure.g_showAuthors is true (default) #}
                          {% if structure.g_showAuthors %}
                            {# Only display the Author Block if there is a value for "author" in project Frontmatter #}
                            {% if project.data.author %}
                              {% set projectAuthor = authors | getAuthor(project.data.author) %}
                              {% include "components/authordate.njk" %}
                            {% endif %}
                          {% endif %}
                        </div>
                      </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}


            {% if post.data.certifications %}
              <div class="mt-6 print:mt-3">
                <h5 class="">Certifications</h5>
                {% if post.data.certification_images %}
                  <div class="flex justify-between">
                    <div class="flex-auto">{% endif %}
                      <ul class="pt-0">
                        {% for certification in post.data.certifications %}
                          <li>{% if certification.link %}<a class="" href={{ certification.link | url }}>{% endif %}{{ certification.title }}{% if certification.link %}</a>{% endif %}</li>
                        {% endfor %}
                      </ul>
                    {% if post.data.certification_images %}</div>
                    <div class="print:hidden flex-initial flex">
                      {% for certification_image in post.data.certification_images %}
                        {% if certification_image.link %}<a class="" href={{ certification_image.link | url }}>{% endif %}
                          {% if certification_image.image %}<img class="w-16 h-16 mr-2" src="/assets/images/{{ certification_image.image }}" />{% endif %}
                        {% if certification_image.link %}</a>{% endif %}
                      {% endfor %}
                    </div>
                  </div>
              {% endif %}
              </div>
            {% endif %}

            {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
            {% if structure.g_showTagPills %}
              <div class="pt-2">
                {% set tags = post.data.tags %}
                {% include "components/tagpills.njk" %}
              </div>
            {% endif %}

            {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
            {% if structure.g_showExcerpt %}
              <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                {{ post.data.excerpt }}
              </div>
            {% endif %}

            <div class="item__content">
              {{ content }}
            </div>
          </li>

          {# <div class="p-4 pb-12 md:w-1/2 xl:w-1/3 sm:mb-0">
            <div class="relative flex h-48 overflow-hidden border border-gray-200 rounded-lg shadow-md hover:shadow-lg">
              <a class="" href="{{ post.url | url }}">
                <img class="absolute inset-0 object-cover {{ post.data.images.align }} w-full h-full" src={% if post.data.images.thumb %}"/assets/images/{{ post.data.images.thumb }}"{% else %}"/assets/images/david-kovalenko-G85VuTpw6jg-unsplash.jpg"{% endif %} alt="">
              </a>
            </div>
          </div> #}
        {% endfor %}
      </ul>

    </div>
    <hr class="mt-8 text-stone-800" />
    <h2 class="mt-4 mb-8 print:pt-4 text-sm leading-none uppercase tracking-wide">Education</h2>
    <div class="flex flex-wrap -mt-4 -mb-10">
      <ul class="flex-1 list-none p-0 mx-0">
        {% for post in postslist | getPostsByType("school") | reverse %}

          <li class="mb-12 print:mb-2">
            <div class="flex justify-between items-baseline">
              <a class="" href={{ post.data.link | url }} target="_blank">
                <h4 class="mt-4 print:mt-0 mb-0 {{ colors.headingsCustom or colors.headingsDefault }}">{{ post.data.org }}</h4>
              </a>
              <span class="item__location">{{ post.data.location }}</span>
            </div>
            <div class="flex justify-between flex-wrap mt-0 text-gray-800">
              {% if post.data.title %}
              <a href="{{ post.url | url }}" class="flex-1"><h2 class="pt-0">{{ post.data.title }}</h2></a>
              <div class="flex-shrink-0 inline item__date">
                <time datetime="{{ post.data.date | dateToFormat("yyyy-MM") }}">{{ post.data.date | dateToFormat("LLL yyyy") }}</time>
                <span> – </span>
                <span>
                  {% if post.data.toDate %}
                  <time datetime="{{ post.data.toDate | dateToFormat("yyyy-MM") }}">{{ post.data.toDate | dateToFormat("LLL yyyy") }}</time>
                  {% else %}Present{% endif %}
                </span>
              </div>
              {% endif %}
            </div>

            {% if post.data.highlights %}
              <div class="mt-6 print:mt-3">
                <h5 class="">Highlights</h5>
                <ul class="pt-0">
                  {% for highlight in post.data.highlights %}
                    <li>{{ highlight.title }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

        {% endfor %}
      </ul>
    </div>

  </div>
</section>