<div class="print:hidden text-stone-600 text-base pt-2 flex items-center">
  {# {{ colors.borderCustom.borders or colors.borderDefault.borders  {{ colors.borderCustom.color or colors.borderDefault.color }}}}  #}
  {# <a class="button inline-flex items-center py-2 px-4 rounded-full w-full xs:w-auto leading-none {{ colors.buttonCustom.shadow or colors.buttonDefault.shadow }} {{ colors.buttonCustom.activeShadow or colors.buttonDefault.activeShadow }} {{ colors.buttonCustom.text or colors.buttonDefault.text }} {{ colors.buttonCustom.textHover or colors.buttonDefault.textHover }} {{ colors.buttonCustom.bg or colors.buttonDefault.bg }} {{ colors.buttonCustom.bgHover or colors.buttonDefault.bgHover }} {{ colors.buttonCustom.border or colors.buttonDefault.border }}" href="{{ pdf }}">
    <svg class="inline h-5 w-5 mr-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
    </svg> Download a PDF
  </a>
  <span class="hidden sm:inline italic"><span class="print:hidden">&nbsp; or try the browser's "Print" on this page</span></span> #}
</div>

<section class="">
  <div class="pb- mx-auto print:mx-0">
    {# class=container  #}

    {# <h4 class="text-stone-400"><i>under construction - see <a href="http://thephilipjones.com/resume" target="_blank">v1</a> for historical details</i></h4>
    <hr class="text-stone-400" /> #}

    <h2 class="sm:mt-4 mb-4 print:pt-0 text-base leading-none uppercase tracking-wide">Looking To</h2>
    <div class="mt-1">
      <ul class="pt-0">
        <li>Empower teams to deliver innovative solutions from concept to launch</li>
        <li>Connect user experience, technical implementation, and market awareness to drive impactful product development</li>
        <li>Elevate into a player-coach role, combining a broad range of hands-on contributions with team leadership</li>
      </ul>
    </div>

    <hr class="mt-4 print:mt-8 text-stone-800" />

    <h2 class="sm:mt-4 mb-8 pt-4 print:mt-0 print:pt-0 text-base leading-none uppercase tracking-wide">Work Experience</h2>
    <div class="-mt-4 -mb-6">
      <ul class="list-none p-0 mx-0">
        {% for post in postslist | getPostsByType("work") | reverse %}

          {% include 'components/resumecard.njk' %}

        {% endfor %}
      </ul>

    </div>
    <hr class="mt-8 print:mt-12 text-stone-800" />
    <h2 class="sm:mt-4 mb-8 print:mt-0 print:pt-0 text-base leading-none uppercase tracking-wide">Education</h2>
    <div class="flex flex-wrap -mt-4 -mb-10">
      <ul class="flex-1 list-none p-0 mx-0">
        {% for post in postslist | getPostsByType("school") | reverse %}

          {% include 'components/resumecard.njk' %}
        
        {% endfor %}
      </ul>
    </div>

  </div>
</section>