---
layout: base
pageWidth: 'max-w-screen-xl px-4 md:px-8 lg:px-48 mx-auto'
---

{# <div class="resume container">
  <header class="show-for-print">
    <h1 class="name">Philip Jones</h1>
  </header>
  <section class="workplaces" id="work">
    <h2 class="section__header">Work Experience</h2>
    <ul class="section__list">
      {% for post in site.categories['workplace'] %}
        <li class="section__item workplace">
          <div class="item__primary">
            <a class="item__org" href={{ post.link }} target="_blank">
              <h3>{{ post.org }}</h3>
            </a>
            <span class="item__location">{{ post.location }}</span>
          </div>
          <p class="item__secondary">
            {% unless post.title == '' %}
            <span class="item__title">{{ post.title }}</span>
            <span class="item__date">
              <span>{{ post.date | date_to_string }}</span>
              <span> – </span>
              <span>
                {% if post.toDate %}
                {{ post.toDate | date_to_string }}
                {% else %}Present{% endif %}
              </span>
            </span>
            {% endunless %}
          </p>
          <div class="item__content">
            {{ post.content }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="schools" id="education">
    <h2 class="section__header">Education</h2>
    <ul class="section__list">
      {% for post in site.categories['school'] %}
        <li class="section__item school">
          <div class="item__primary">
            <a class="item__org" href={{ post.link }} target="_blank">
              <h3>{{ post.org }}</h3>
            </a>
            <span class="item__location">{{ post.location }}</span>
          </div>
          <p class="item__secondary">
            <span class="item__title">{{ post.title }}</span>
            <span class="item__date">
              <span>{{ post.date | date_to_string }}</span>
              <span> – </span>
              <span>{{ post.toDate | date_to_string }}</span>
            </span>
          </p>
          <div class="item__content">
            {{ post.content }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
 #}

<article class="{{ structure.g_pageWidth }}">

  <h1 class="print:hidden {{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <h1 class="hidden print:block {{ colors.headingsCustom or colors.headingsDefault }}">Philip Jones</h1>
  <div class="text-sm {{ colors.authorCustom.date or colors.authorDefault.date}}">
    <time datetime="{{ date | dateToFormat("yyyy-MM-dd") }}">
      {{ date | dateToFormat("dd LLL yyyy") }}
    </time>
    {# Global disable author display in /src/_data/structure.js #}
    {% if structure.g_showAuthors %}
      {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
      {% if author %}
        {% set postAuthor = authors | getAuthor(author) %}
        by <a class="hover:underline" href="/authors/{{ author }}/">{{ postAuthor.name }}</a>
      {% endif %}
    {% endif %}

  </div>

  {{ layoutContent | safe }}

  {% if structure.g_showTagPills or structure.g_showSocialShareIcons %}
    <div class="pt-4 mt-12 border-t md:justify-between md:items-start md:flex md:flex-row">

      {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
      <div class="md:w-1/2">
        {% if structure.g_showTagPills %}
          {% include "components/tagpills.njk" %}
        {% endif %}
      </div>

      {# If you don't want to display Social Share icons, disable them in /src/_data/structure.js  #}
      <div class="px-2 pt-6 md:pt-2 md:w-1/2 md:flex md:justify-end">
        {% if structure.g_showSocialShareIcons %}
          {% include "components/socialshare.njk" %}
        {% endif %}
      </div>

    </div>
  {% endif %}

  {# ===== Previous and Next =====  #}
  <div class="border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} md:flex-row md:flex md:justify-between">
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}

    <div class="py-2 text-center sm:py-0">
      {% if previousPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a>
      {% endif %}
    </div>

    <div class="py-2 text-center sm:py-0">
      {% if nextPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a>
      {% endif %}
    </div>

  </div>

</article>