---
layout: base
pageWidth: 'max-w-screen-xl px-4 md:px-8 lg:px-48 mx-auto'
---

{# <div class="resume container">
  <header class="show-for-print">
    <h1 class="name">Philip Jones</h1>
  </header>
  <section class="workplaces" id="work">
    <h2 class="section__header">Work Experience</h2>
    <ul class="section__list">
      {% for post in site.categories['workplace'] %}
        <li class="section__item workplace">
          <div class="item__primary">
            <a class="item__org" href={{ post.link }} target="_blank">
              <h3>{{ post.org }}</h3>
            </a>
            <span class="item__location">{{ post.location }}</span>
          </div>
          <p class="item__secondary">
            {% unless post.title == '' %}
            <span class="item__title">{{ post.title }}</span>
            <span class="item__date">
              <span>{{ post.date | date_to_string }}</span>
              <span> – </span>
              <span>
                {% if post.toDate %}
                {{ post.toDate | date_to_string }}
                {% else %}Present{% endif %}
              </span>
            </span>
            {% endunless %}
          </p>
          <div class="item__content">
            {{ post.content }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="schools" id="education">
    <h2 class="section__header">Education</h2>
    <ul class="section__list">
      {% for post in site.categories['school'] %}
        <li class="section__item school">
          <div class="item__primary">
            <a class="item__org" href={{ post.link }} target="_blank">
              <h3>{{ post.org }}</h3>
            </a>
            <span class="item__location">{{ post.location }}</span>
          </div>
          <p class="item__secondary">
            <span class="item__title">{{ post.title }}</span>
            <span class="item__date">
              <span>{{ post.date | date_to_string }}</span>
              <span> – </span>
              <span>{{ post.toDate | date_to_string }}</span>
            </span>
          </p>
          <div class="item__content">
            {{ post.content }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
 #}

<article class="{{ structure.g_pageWidth }}">

  <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <div class="text-lg {{ colors.authorCustom.date or colors.authorDefault.date}}">
    <a class="" href={{ link | url }} target="_blank">
      <h4 class="m-0 ">{{ org }}{% if location %}<span class="font-normal"> in {{ location }}</span>{% endif %}</h4>
    </a>

    {% if date %}
      <time datetime="{{ date | dateToFormat("yyyy-MM") }}">{{ date | dateToFormat("LLL yyyy") }}</time>
      <span> – </span>
      <span>
        {% if toDate %}
        <time datetime="{{ toDate | dateToFormat("yyyy-MM") }}">{{ toDate | dateToFormat("LLL yyyy") }}</time>
        {% else %}Present{% endif %}
      </span>
    {% endif %}

    {# Global disable author display in /src/_data/structure.js #}
    {% if structure.g_showAuthors %}
      {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
      {% if author %}
        {% set postAuthor = authors | getAuthor(author) %}
        by <a class="hover:underline" href="/authors/{{ author }}/">{{ postAuthor.name }}</a>
      {% endif %}
    {% endif %}

  </div>

  {{ layoutContent | safe }}

  {% set projectlist = collections.portfolio | getPostsByTag(resume) | reverse %}

  <div class="card-body">

    {% if projectlist.length > 0 %}
      <div class="mt-6 print:mt-3">
        <h5 class="">Projects</h5>

        <ul class="hidden print:block pt-0">
          {% for project in projectlist %}
            <li><a class="" href="{{ project.url | url }}">{{ project.data.title }}</a></li>
          {% endfor %}
        </ul>
        <div class="print:hidden relative mx-auto max-w-7xl">
          {# <div class="grid gap-8 mx-auto mt-12 md:grid-cols-2 xl:grid-cols-3 lg:max-w-none"> #}
          <div class="flex flex-no-wrap overflow-x-scroll scrolling-touch items-start p-2 pb-4 -ml-2 border-r border-r-stone-200">
            {% for project in projectlist %}

              {# <div class="flex flex-col overflow-hidden rounded-lg shadow-lg"> #}
              <div class="flex-none w-2/3 md:w-1/3 mr-6 last:mr-0 border rounded-lg shadow-lg overflow-hidden">
                <div class="shrink-0">
                  <a href="{{ project.url | url }}">
                    <img class="object-cover {{ project.data.images.align }} w-full h-36" src={% if project.data.images.thumb %}"/assets/images/{{ project.data.images.thumb }}"{% else %}"/assets/images/david-kovalenko-G85VuTpw6jg-unsplash.jpg"{% endif %} alt="{{ title }} Thumbnail">
                  </a>
                </div>
                <div class="flex flex-col justify-between flex-1 p-4 lg:p-6 bg-white">
                  <div class="flex-1">
                    <a href="{{ project.url | url }}" class="block">
                      <h3 class="pt-0 text-xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
                        {{ project.data.title }}
                      </h3>

                      {# Display project Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
                      {% if structure.g_showExcerpt %}
                        <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                          {{ project.data.excerpt }}
                        </div>
                      {% endif %}
                    </a>
                  </div>

                  {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
                  {# Display the Date block if structure.g_showDates is true (default) #}
                  {% if structure.g_showDates %}
                    {# Only display the Date Block if there is a value for "date" in project Frontmatter #}
                    {% if project.data.date %}
                      {# {% set projectDate = dates | getDate(project.data.date) %} #}
                        <div class="flex text-base leading-5">
                          <time datetime="{{ project.date | dateToFormat("yyyy") }}">{{ project.date | dateToFormat("yyyy") }}</time>
                        </div>
                    {% endif %}
                  {% endif %}

                  {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
                  {# Display the Author block if structure.g_showAuthors is true (default) #}
                  {% if structure.g_showAuthors %}
                    {# Only display the Author Block if there is a value for "author" in project Frontmatter #}
                    {% if project.data.author %}
                      {% set projectAuthor = authors | getAuthor(project.data.author) %}
                      {% include "components/authordate.njk" %}
                    {% endif %}
                  {% endif %}
                </div>
              </div>

            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}


  {% if structure.g_showTagPills or structure.g_showSocialShareIcons %}
    <div class="pt-4 mt-12 border-t md:justify-between md:items-start md:flex md:flex-row">

      {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
      <div class="md:w-1/2">
        {% if structure.g_showTagPills %}
          {% include "components/tagpills.njk" %}
        {% endif %}
      </div>

      {# If you don't want to display Social Share icons, disable them in /src/_data/structure.js  #}
      <div class="px-2 pt-6 md:pt-2 md:w-1/2 md:flex md:justify-end">
        {% if structure.g_showSocialShareIcons %}
          {% include "components/socialshare.njk" %}
        {% endif %}
      </div>

    </div>
  {% endif %}

  {# ===== Previous and Next =====  #}
  <div class="border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} md:flex-row md:flex md:justify-between">
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}

    <div class="py-2 text-center sm:py-0">
      {% if previousPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a>
      {% endif %}
    </div>

    <div class="py-2 text-center sm:py-0">
      {% if nextPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a>
      {% endif %}
    </div>

  </div>

</article>