@tailwind base;

.skill {
	@apply bg-stone-300 p-1 rounded-sm;
}
.skill:hover {
	@apply bg-stone-400;
}
@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold text-gray-700;
	}

	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply pt-12 text-2xl;
	}
	h3 {
		@apply pt-8 text-xl;
	}
	h4 {
		@apply text-lg;
	}
	h5 {
		@apply text-base;
	}

	@media screen(sm) {
		h1 {
			@apply text-5xl;
		}
		h2 {
			@apply pt-12 text-4xl;
		}
		h3 {
			@apply pt-8 text-3xl;
		}
		h4 {
			@apply text-2xl;
		}
		h5 {
			@apply text-xl;
		}
		ul {
			@apply text-lg;
		}
	}

	p a,
	li a,
	blockquote a,
	dd a {
		@apply font-medium text-blue-900;
	}
	a.button {
		-webkit-appearance: button;
	}
	p {
		@apply mt-4 text-xl;
	}
	.wrapper > p:first-of-type {
		@apply p-0 m-0;
	}

	ol {
		@apply pt-4 ml-8 list-decimal text-lg;
	}
	ul {
		@apply pt-4 ml-8 list-disc;
	}
	blockquote {
		@apply pl-4 m-4 border-l-4 border-gray-500;
	}
	code {
		@apply p-1 text-sm bg-gray-200 border border-gray-300 rounded-lg;
	}
	pre code {
		@apply bg-transparent border-0 rounded-none;
	}

	@media print {
		a[href] {
			text-decoration: none;
			a:after {
				content: '(' attr(href) ')';
			}
			color: inherit;
		}
		.skill {
			@apply bg-none p-0;
		}
		ul {
			@apply pt-2 text-sm;
		}
		h1 {
			@apply text-3xl;
		}
		h2 {
			@apply pt-12 text-2xl;
		}
		h3 {
			@apply pt-8 text-xl;
		}
		h4 {
			@apply text-lg;
		}
		h5 {
			@apply font-normal text-base;
		}
	}
}

@tailwind components;

@tailwind utilities;
