---
title: 
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 5        # order to display in the nav
seo:
  title: 
  description: 
---

<div class="relative bg-white">
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
    <div class="px-4 py-4 bg-gray-50 sm:px-6 lg:col-span-2 lg:px-8 lg:py-8 xl:pr-12">
      <div class="max-w-lg mx-auto">
        <h2 class="text-3xl pt-4 font-extrabold leading-8 tracking-tight text-gray-600 sm:text-3xl sm:leading-9">
          Get in touch
        </h2>
        <p class="mt-3 text-lg leading-6 text-gray-500">
          Let's talk about the next exciting idea!</a>
        </p>
        <dl class="mt-8 text-base leading-6 text-gray-500">
          <div>
            <dt class="sr-only">Email</dt>
            <dd class="flex">
              {% svg "email", "mx-2 h-6 w-6 fill-current" %}
              <span class="ml-3">
                <a class="hover:underline" href="mailto:{{ meta.address.email }}">{{ meta.address.email }}</a>
              </span>
            </dd>
          </div>
          <div class="mt-3">
            <dt class="sr-only">Twitter</dt>
            <dd class="flex">
              {% svg "twitter", "mx-2 h-6 w-6 fill-current" %}
              <span class="ml-3">
                <a class="hover:underline" href="http://twitter.com/{{ meta.twitterSite }}">@{{ meta.twitterSite }}</a>
              </span>
            </dd>
          </div>
          <div class="mt-3 mb-4">
            <dt class="sr-only">Postal address</dt>
            <dd class="flex">
              {% svg "home", "mx-2 h-6 w-6 fill-current" %}
              <span class="ml-3">
                Based in {{ meta.address.city }}, {{ meta.address.state }}
              </span>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="px-4 py-16 bg-white sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form name="contact" action="/thankyou" method="POST" data-netlify-recaptcha="true" data-netlify-honeypot="bot-field" data-netlify="true" class="grid grid-cols-1 row-gap-6">
          <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <div>
            <label for="full_name" class="sr-only">Full name</label>
            <div class="relative rounded-md shadow-sm">
              <input id="full_name" name="name" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Full name">
            </div>
          </div>
          <div>
            <label for="email" class="sr-only">Email</label>
            <div class="relative rounded-md shadow-sm">
              <input id="email" name="email" type="email" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Email">
            </div>
          </div>
          <div>
            <label for="phone" class="sr-only">Phone</label>
            <div class="relative rounded-md shadow-sm">
              <input id="phone" name="phone" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Phone">
            </div>
          </div>
          <div>
            <label for="message" class="sr-only">Message</label>
            <div class="relative rounded-md shadow-sm">
              <textarea id="message" name="message" rows="4" class="block w-full px-4 py-3 mb-6 placeholder-gray-500 transition duration-150 ease-in-out form-input" placeholder="Message"></textarea>
            </div>
          </div>
          <div data-netlify-recaptcha="true"></div>
          <div class="">
            <span class="inline-flex rounded-md shadow-sm">
              <button type="submit" class="py-2 px-4 my-4 rounded-lg {{ colors.buttonCustom.text or colors.buttonDefault.text }} hover:{{ colors.buttonCustom.textHover or colors.buttonDefault.textHover }} {{ colors.buttonCustom.bg or colors.buttonDefault.bg }} hover:{{ colors.buttonCustom.bgHover or colors.buttonDefault.bgHover }} {{ colors.buttonCustom.border or colors.buttonDefault.border }}">
                Submit
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>